<!DOCTYPE html>

<html>

   <head>
      <title>Timestamp Microservice</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
     <h1><i>Timestamp Microservice</i></h1>
      <div class="container">
        <div id="first-container">
          <h2>Example usage:</h2>
          <p>You can use one of the following formats as the project endpoint:</p>
          <h3>Natural date format:</h3>
          <a href="https://microservices-proj.herokuapp.com/api/timestamp/2017-12-02">.../2017-12-02</a>
          <h3>... or Unix-Timestamp(in milliseconds):</h3>
          <a href="https://microservices-proj.herokuapp.com/api/timestamp/1480636850000">.../1480636850000</a>
        </div>
        <div id="second-container">
          <h2>Example output:</h2>
          <code>
              { <br>
                &ensp; "unix": 1512172800000, <br>
                &ensp; "utc": "Sat, 02 Dec 2017 00:00:00 GMT" <br>
              } <br>
          </code>
        </div>
      </div>
      <footer>
        proposed by <a href="http://www.freecodecamp.com/"><image src="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico"/></a> 
        | solution on <a href="https://github.com/tandaraelena/timestamp-microservices"><image src="https://freepngimg.com/download/temp/8-2-github-png_32x32.ico"/></a>
      </footer>
   </body>

</html>
