/****** Main Styling ******/

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #222;
	background-color: #FaFaFa;
	text-align: center;
	line-height: 1.4em;
}

.container {
	padding: 0;
	margin-top: 40px;
	display: inline-flex;
}

#first-container{
	background-color: bisque;
	padding: 10px;
	margin: 5px 15px 5px 5px;
	box-shadow: 10px -12px 26px 0px rgba(0,0,0,0.77);
	max-width: 300px;
}

#second-container{
	background-color: bisque;
	padding: 10px;
	margin: 5px 5px 5px 15px;
	box-shadow: 10px -12px 26px 0px rgba(0,0,0,0.77);
	max-width: 300px;
}

h1 {
  margin-top: 30px;
}

footer {
	margin-top: 40px;
}

code {
  font-family: monospace;
  padding: 2px;
  color: black;
	background-color: #fff;
	display: block;
	border-radius: 5px;
	text-align: left;
}

a {
	color: #2574A9;
}
